<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Captura de Imagen</title>
</head>
<body>
    <h1>Captura de Imagen</h1>
    <video id="video" width="640" height="480" autoplay></video>
    <button id="capture">Capturar Foto</button>
    <canvas id="canvas" width="640" height="480" style="display:none;"></canvas>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
